<%= form_for @reply, remote: true do |form| %>
  <div>
    <%= form.text_area :text, class: 'form-control', id: 'text', maxlength: 140, required: true %>
    Character limit: <span id='counter'>0</span>/140
    <%= form.hidden_field :tweet_id %>
    <%= form.submit 'Reply', class: 'btn btn-primary btn-lg', id: 'reply_submit' %>
  </div>
<% end %>

<script>
  var this_text = document.getElementById('text');
  var counter = document.getElementById('counter');

  this_text.addEventListener('keyup', function() {
    var characters = this_text.value.split('');
    counter.innerText = characters.length;
  });
</script>
