<%= form_for @user.tweets.build do |form| %>
  <div>
    <%= form.text_area :text, class: 'form-control', required: true %>
    <div style='font-size: 9.5px'>
      *140 character limit
    </div>
    <%= form.submit 'Tweet', class: 'btn btn-primary btn-lg' %>
  </div>
<% end %>
