<h3>Published Tweets</h3>
<table class='table' style='width: 100%'>
  <thead class='thead-dark'>
    <tr>
      <th scope='col'>User</th>
      <th scope='col'>Text</th>
      <th scope='col'>Created</th>
    </tr>
  </thead>
  <tbody id='tweets' >
    <%= render partial: 'tweets/tweet', collection: @tweets %>
  </tbody>
</table>
