<h3>Published Tweets</h3>
<table style='width: 100%; text-align: center'>
  <tr>
    <th>User</th>
    <th>Text</th>
    <th>Type</th>
    <th colspan='4'></th>
  </tr>
  <% @tweets.each do |tweet| %>
    <tr>
      <td><%= tweet.user.first_name + ' ' + tweet.user.last_name %></td>
      <td><%= tweet.text %></td>
      <td><%= tweet.type %></td>
      <td><%= link_to 'Reply', new_tweet_reply_path(tweet) %>

    </tr>
  <% end %>
</table>
